.button {
  display: block;
  padding: 27px 10px 27px 10px;

  font-family: $font-deafult;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: $white;

  background-color: $main-black;
}
