@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin wrapper {
  margin: 0 auto;

  @media (min-width: $mobile-width) {
    width: $mobile-width;
    padding-right: $mobile-indent;
    padding-left: $mobile-indent;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding-right: $tablet-indent;
    padding-left: $tablet-indent;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-right: $desktop-indent;
    padding-left: $desktop-indent;
  }
}
