$font-deafult: "Work Sans", "Trebuchet MS", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1230px;

$mobile-width-only: 767px;
$tablet-width-only: 1229px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


$main-black: #151C22;
$main-gray: #727A82;

$textile-color01: #B0C3C7;
$textile-color02: #3B6392;
$textile-color03: #BFC3C8;
$textile-color04: #2D2E2E;
$textile-color05: #ECECEC;
$textile-color06: #4193DA;

$black: #000000;
$white: #ffffff;
